
.dashContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.dashNav {
    margin: 1rem auto;
    width: 80%;
}

.dashNav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.dashNav button {
    color: gray;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    border: none;
    margin: 1rem;
}

.dashNav button:hover {
    border-bottom: 3px solid teal;
    background-color: gray;
    color: #404040;
    
}

.myItemsHeader {
    display: flex;
    flex-direction: row;
    margin-left: 140px;
    margin-top: 20px;
}

.activeList {
    display: flex;
    width: 90vw;
    margin: 20px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}